{% extends "base.html" %}


{% block title %}
Fees Statement
{% endblock %}



{% block content %}


<div class="card shadow">


<div class="card-header bg-success text-white">


<h3>
💰 Fees Statement
</h3>


</div>




<div class="card-body">


<h4>

{{ fees.full_name }}

</h4>



<hr>



<table class="table table-bordered">


<tr>

<th>Total Fees</th>

<td>
UGX {{ fees.fees_total or 0 }}
</td>


</tr>



<tr>

<th>Amount Paid</th>

<td>

UGX {{ fees.fees_paid or 0 }}

</td>


</tr>



<tr>

<th>Balance</th>

<td class="text-danger">

UGX {{ fees.fees_balance or 0 }}

</td>


</tr>



</table>




{% if fees.fees_balance and fees.fees_balance > 0 %}


<a href="{{ url_for('generate_prn',
student_id=fees.student_id) }}"
class="btn btn-warning">


🧾 Generate Payment PRN


</a>



{% else %}


<div class="alert alert-success">

Fees fully paid.

</div>


{% endif %}



<br><br>


<a href="{{ url_for('parent_dashboard') }}"
class="btn btn-secondary">

⬅ Back Dashboard

</a>



</div>


</div>



{% endblock %}
