{% extends "base.html" %}

{% block title %}
Pending Online Admissions
{% endblock %}


{% block content %}

<div class="card shadow">

<div class="card-header bg-primary text-white">
    Online Admission Applications
</div>


<div class="card-body">


<table class="table table-bordered table-striped">

<thead>

<tr>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>Parent Phone</th>
<th>Payment</th>
<th>Status</th>
<th>Action</th>
</tr>

</thead>


<tbody>


{% for s in applications %}

<tr>

<td>{{s[1]}}</td>

<td>{{s[2]}}</td>

<td>{{s[3]}}</td>

<td>{{s[4]}}</td>


<td>

{% if s[6]=='completed' %}

<span class="badge bg-success">
Paid
</span>

{% else %}

<span class="badge bg-danger">
Pending
</span>

{% endif %}

</td>


<td>
{{s[7]}}
</td>


<td>

{% if s[7]=='pending' %}

<a href="{{url_for('approve_admission',
student_id=s[0])}}"
class="btn btn-success btn-sm">

Approve

</a>


<a href="{{url_for('reject_admission',
student_id=s[0])}}"
class="btn btn-danger btn-sm">

Reject

</a>


{% endif %}


</td>


</tr>


{% endfor %}


</tbody>


</table>


</div>

</div>


{% endblock %}
